@import "tailwindcss";

:root {
  --color-pink: #ff79ab;
  --color-orange: #f35910;
  --color-blue: #1ba9e3;
  --color-red: #ff0000;
}

@layer base {
  :root {
    --pink: 255 121 171;
    --orange: 243 89 16;
    --blue: 27 169 227;
    --red: 255 0 0;
  }

  h1,
  h2,
  h3,
  .heading {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
  }

  h4,
  h5,
  p,
  li {
    font-size: 1.25rem;
  }

  @media screen and (min-width: 768px) {
    h1,
    h2,
    h3,
    .heading {
      font-size: 2rem;
      letter-spacing: 1.2px;
    }

    h4,
    h5,
    p,
    li {
      font-size: 1.5rem;
    }
  }
}
